{% extends 'base.html' %}
{% block content %}
    <div class="list-group">
                    {% for category in categories %}
                        <a href="{% url 'category' pk=category.pk %}" class="list-group-item">{{ category.title }}</a>
                    {% endfor %}



                </div>

                </div>
 <div class="row">


            <div class="col-lg-offset-1">
                <hr>
                <h2>Правила проката:</h2>

                <ul><img src="/media/vagno.png" alt="" style='width:35%; height: 175px' class="rightpic">
     <img src="/media/46393043_pravila.gif" alt="" class="rightpic">
                    <br>
                    <br>
                    <ol>
                        <ul>
                    <li>Снаряжение выдается на прокат под залоговую стоимость. Как исключение в качестве залога принимается заграничный паспорт или водительские права.</li>
                    <li>Стоимость проката считается со дня выдачи снаряжения до дня фактической сдачи, при этом день сдачи и выдачи снаряжения считается за один день.
Например: если снаряжение взято 01.07, а сдано 06.07, то количество дней проката будет равно 5.</li>
                    <li>Оплата за прокат производится перед выдачей снаряжения.</li>
                    <li>В случае превышения оговоренного срока проката, клиент  выплачивает стоимость проката за каждый день просрочки в двукратном размере .</li>
                    <li>При сдаче снаряжения раньше оговоренного срока перерасчет не производится.</li>
                    <li>Клиент осматривает снаряжение при получении, и при обнаружении изъянов может требовать заверения состояния снаряжения документально.</li>
                    <li>Снаряжение выдается на прокат в сухом и чистом виде и подлежит сдаче в таком же виде, как при получении.</li>
                    <li>Клиент принимает на себя ответственность за сохранность, комплектность и состояние снаряжения на весь срок проката.</li>
                    <li>Клиент оплачивает стоимость ремонта, восстановления снаряжения и простой по ставке проката. Стоимость ремонта снаряжения  поврежденного в период проката и срока восстановления (простоя) устанавливается Поставщиком, при этом залог возвращается только после окончательного расчета.</li>
                    <li>Стоимость утерянного снаряжения возмещается клиентом, при этом залог возвращается только после окончательного расчета. Стоимость снаряжения определяется исходя из его цены, и равна залоговой стоимости.</li>
                </ul>
                </ol>

            </div>
 </div>
{% endblock content %}


